# ifs.cfg:
#
# This file contains configuration parameters for the IFS server.
#

# InterfaceType defines the type of interface(s) to use for local networking,
# (one or more of RAW, UDP, or 3MBIT)
InterfaceTypes = raw

# The name of the network interface to use for local networking.
# This is the name reported by "ipconfig" on Windows, or the equivalent on
# *nix platforms
InterfaceName = Ethernet

# Note that UDPPort is for the local network UDP transport,
# not for gateway ports!
# (gateway ports are specified in networks.txt)
UDPPort = 42424

# Server configuration:
# Defines the server host network number (octal) for the IFS server:
# An entry for at this IFS server's network must be
# present in networks.txt to enable routing over the Internet.
ServerNetwork = 1

# The IFS server can expose multiple "virtual" IFS servers
# for FTP.  This allows simulating, for example the entirety of PARC's 3mbit 
# ethernet network using a single IFS instance.
# Only one instance of the Gateway, Boot, Directory, Mail, and Copydisk services
# is provided, hosted at the address of the first server specified.
# Having corresponding entries in hosts.txt is recommended but not required.

# The below accept comma-delimited lists:

# Host addresses (octal).
# Each address maps to the corresponding entry in FTPRoots.
ServerHosts = 1,2,3,4,5,6,7,10,11,12,13,14,15,16
FTPRoots = f:\ifs\ftp\maxc,f:\ifs\ftp\io,f:\ifs\ftp\filene,f:\ifs\ftp\qv,f:\ifs\ftp\pixel,f:\ifs\ftp\phylum,f:\ifs\ftp\ivy,f:\ifs\ftp\indigo,f:\ifs\ftp\ibis,f:\ifs\ftp\eris,f:\ifs\ftp\eros,f:\ifs\ftp\erinyes,f:\ifs\ftp\cyan,f:\ifs\ftp\cherry

# CopyDisk, Boot (as well as other gateway services) are not virtualized
# and are served by the first host specified in ServerHosts
CopyDiskRoot = f:\ifs\copydisk
MailRoot = f:\ifs\mail
BootRoot = f:\ifs\boot

# If set to false, IFS will not provide network services, instead it will
# act as a bridge betwen the interfaces specified in InterfaceTypes
RunIFSServices = true

# Delay between BreathOfLife packet broadcasts, in milliseconds.
BOLDelay = 5000

# Debug settings
LogTypes = None
LogComponents = None
